.logo {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 26rem;
  border: none;
  text-align: center;
}

@media screen and (max-width: 440px) {
  .logo {
    width: 20rem;
  }
}
