/* @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Play&family=Poppins:wght@300;400;500;700&family=Press+Start+2P&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@700&family=Play&family=Poppins:wght@300;400;500;700&family=Press+Start+2P&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url('./assets/blob-scene-haikei.svg');
  background-size: cover;
  background-repeat: repeat-y;
}
