@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@700&family=Play&family=Poppins:wght@300;400;500;700&family=Press+Start+2P&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
  box-sizing: border-box;
}

/* background-image: url('./assets/blob-scene-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat; */
/* background-color: whitesmoke; */
body {
  margin: 0;
  background: linear-gradient(-45deg, #facc15, #fef9c3, #44403c, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
